Un tip: Si los datos se pueden acceder desde una url, se puede usar wget para descargarlos en el notebook y no tener que estar subiendolos constantemente (igual deberian descargarlos porque las cosas un dia estan y otro no)

In [1]:
!wget https://raw.githubusercontent.com/lrargerich/7506/master/Notebooks/Encuestas/encuesta.csv

--2022-09-11 02:07:45--  https://raw.githubusercontent.com/lrargerich/7506/master/Notebooks/Encuestas/encuesta.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 250276 (244K) [text/plain]
Saving to: ‘encuesta.csv.2’

encuesta.csv.2      100%[===================>] 244.41K  --.-KB/s    in 0.03s

2022-09-11 02:07:45 (8.94 MB/s) - ‘encuesta.csv.2’ saved [250276/250276]

In [2]:
import pandas as pd
encuestas = pd.read_csv("encuesta.csv")

Para que sea mas facil de manipular, renombro las columnas que me interesan a labels de una unica palabra en minuscula

In [3]:
encuestas = encuestas.rename(columns={
    "Curso":"materia",
    "Opinión General Sobre el Curso":"nota",
    "¿Aprobó la Cursada?":"aprobo",
    "Nivel de las Clases Teóricas del Curso":"teoricas",
    "Nivel de las Clases Prácticas del Curso":"practicas",
    "¿Los Temas de la Materia Están Actualizados?":"actualizada"
})
encuestas

,Marca temporal,materia,nota,aprobo,¿Cómo te Resultaron los Temas de la Materia?,actualizada,teoricas,practicas,Dificultad del Curso,Dificultad del TP,Comentarios Sobre el Curso,¿El email puede ser mostrado al docente?
0,1/19/2020 10:09:49,75.01-95.01-Computación - 1 - Strobino,Excelente,Sí,Interesantes,Sí,Excelentes,Buenas,Normal,Normal,La primera parte del curso fue más bueno que e...,Si
1,2/14/2020 11:02:35,75.01-95.01-Computación - 11 - Calvo,Excelente,Sí,Interesantes,Sí,Excelentes,Excelentes,Normal,Normal,NaN,Si
2,2/14/2020 11:02:52,75.01-95.01-Computación - 11 - Calvo,Muy Bueno,Sí,Muy Interesantes,Sí,Muy Buenas,Muy Buenas,Normal,Normal,NaN,Si
3,2/14/2020 11:07:41,75.01-95.01-Computación - 11 - Calvo,Muy Bueno,Sí,Interesantes,Sí,Muy Buenas,Excelentes,Dificil,Normal,NaN,Si
4,2/14/2020 11:08:37,75.01-95.01-Computación - 11 - Calvo,Muy Bueno,Sí,Interesantes,Sí,Buenas,Muy Buenas,Normal,Normal,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...
661,12/15/2019 22:10:49,95.13-Métodos Matemáticos y Numéricos - Cavaliere,Bueno,Sí,Interesantes,Sí,Regulares,Regulares,Normal,Dificil,Todavía no se publicaron las notas de la prime...,NaN
662,2/12/2020 8:05:55,95.13-Métodos Matemáticos y Numéricos - Cavaliere,Regular,Sí,Poco Interesantes,Sí,Buenas,Malas,Normal,Dificil,Tardaron un mes y 10 días en devolverme la not...,No
663,12/14/2019 9:55:25,"95.59-Diseño, Operación y Gestión de Servicios...",Malo,Sí,Nada Interesantes,No,Malas,No Hay Clases Prácticas,Facil,Muy Fácil,Es un curso que no me aporto absolutamente nad...,No
664,12/16/2019 23:53:38,"95.59-Diseño, Operación y Gestión de Servicios...",Bueno,Sí,Interesantes,Sí,Regulares,No Hay Clases Prácticas,Facil,Fácil,Los temas de la materia estan actualizados? En...,"Si, No"
665,12/27/2019 11:29:41,"95.59-Diseño, Operación y Gestión de Servicios...",Malo,Sí,Interesantes,No,Malas,No Hay Clases Prácticas,Muy Facil,Muy Fácil,La materia es un desastre de principio a fin. ...,NaN

Convierto las columnas de cadena a entero (aquellas que tienen un valor dentro de una escala) y a `bool` las que son Si/No.

In [4]:
import numpy as np

traduccion = {
        'Excelente':5,
        'Excelentes':5,
        'Muy Bueno':4,
        'Muy Buenas':4,
        'Bueno':3,
        'Buenas':3,
        'Regular':2,
        'Regulares':2,
        'Malo':1,
        'Malas':1
    }


def mapear_a_entero(cadena):

    return traduccion.get(cadena,np.nan)

encuestas.nota = encuestas.nota.map(mapear_a_entero)
encuestas.teoricas = encuestas.teoricas.map(mapear_a_entero)
encuestas.practicas = encuestas.practicas.map(mapear_a_entero)

Para las columnas de Si/No, puedo utilizar directamente el operador `==` con la serie. Al utilizar un operador con una serie y un 'escalar' (un unico valor, no una serie), Pandas aplica la operacion elemento a elemento. Es similar a un `map` solo que funciona con operadores especificos. `map` por otro lado, permite aplicar funciones arbitrarias

In [5]:
encuestas.aprobo = encuestas.aprobo == "Sí"
encuestas.actualizada = encuestas.actualizada == "Sí"

Extraemos el codigo de materia y nos quedamos con solo las columnas que nos importan

In [6]:
encuestas.materia = encuestas.materia.map(lambda x:x.split("-")[0])
encuestas_sliced = encuestas[["materia","nota","aprobo","actualizada","teoricas","practicas"]]
encuestas_sliced

    materia  nota  aprobo  actualizada  teoricas  practicas
0     75.01     5    True         True       5.0        3.0
1     75.01     5    True         True       5.0        5.0
2     75.01     4    True         True       4.0        4.0
3     75.01     4    True         True       4.0        5.0
4     75.01     4    True         True       3.0        4.0
..      ...   ...     ...          ...       ...        ...
661   95.13     3    True         True       2.0        2.0
662   95.13     2    True         True       3.0        1.0
663   95.59     1    True        False       1.0        NaN
664   95.59     3    True         True       2.0        NaN
665   95.59     1    True        False       1.0        NaN

[666 rows x 6 columns]

Queremos analizar como son las notas que se asignan a las materias, viendo si dependen de haber aprobado la materia o no. Para eso vamos generarnos 3 DataFrames con los datos nota promedio y cantidad de respuestas, uno con todas las encuestas, otra con solo las de alumnos aprobados y finalmente otra con solo las de alumnos desaprobados

In [7]:
promedio_encuestas = encuestas.groupby("materia").agg({"nota":["mean","count"]})
promedio_aprobados = encuestas[encuestas.aprobo].groupby("materia").agg({"nota":["mean","count"]})
promedio_desaprobados = encuestas[~encuestas.aprobo].groupby("materia").agg({"nota":["mean","count"]})

Reseteamos el inidice para volver a llevar el codigo de la materia a una columna

In [8]:
promedio_encuestas.reset_index(inplace=True)
promedio_aprobados.reset_index(inplace=True)
promedio_desaprobados.reset_index(inplace=True)

Renombramos las columnas para eliminar el multiindice

In [9]:
promedio_encuestas.columns = ["materia","nota","cantidad"]
promedio_aprobados.columns = ["materia","nota","cantidad"]
promedio_desaprobados.columns = ["materia","nota","cantidad"]

Como voy a querer concatenar los DataFrames, necesito poder de alguna forma señalizar de donde provienen los datos (caso contrario, luego del `concat` no sabriamos a que corresponde cada promedio)

In [10]:
promedio_encuestas["origen"] = "totales"
promedio_aprobados["origen"] = "aprobados"
promedio_desaprobados["origen"] = "desaprobados"

Ploteamos los datos e intentamos ver como se relacionan los datos entre si

In [11]:
import plotly.express as px

df = pd.concat([promedio_encuestas,promedio_aprobados,promedio_desaprobados])

px.scatter(df,x="materia",y="nota",color="origen",size="cantidad")

Como en realidad verlo graficamente es complicado a medida que aumenta el volumen de datos, podemos utilizar `corr` para obtener la matriz de correlacion entre las variables

In [12]:
encuestas_sliced.corr()

                 nota    aprobo  actualizada  teoricas  practicas
nota         1.000000  0.212054     0.334423  0.792915   0.731316
aprobo       0.212054  1.000000     0.109911  0.139171   0.134541
actualizada  0.334423  0.109911     1.000000  0.276143   0.238359
teoricas     0.792915  0.139171     0.276143  1.000000   0.538649
practicas    0.731316  0.134541     0.238359  0.538649   1.000000

In [13]:
encuestas_sliced.corr().loc["nota","aprobo"]

0.21205392927229647

El resultado de `corr` es un DataFrame, entonces podemos acceder a los datos utilizando `loc` para revisar la correlacion entre 2 columnas especificas.

---

Parentesis

Podemos aprovechar la matriz de correlacion y ver que con `loc` puedo acceder a partes especificas del DataFrame, pero no solo para obtener datos, sino que para modificarlos tambien.

In [14]:
correlacion = encuestas_sliced.corr()
correlacion.loc["nota","aprobo"] = 1
correlacion.loc["aprobo","nota"] = -100

correlacion

                   nota    aprobo  actualizada  teoricas  practicas
nota           1.000000  1.000000     0.334423  0.792915   0.731316
aprobo      -100.000000  1.000000     0.109911  0.139171   0.134541
actualizada    0.334423  0.109911     1.000000  0.276143   0.238359
teoricas       0.792915  0.139171     0.276143  1.000000   0.538649
practicas      0.731316  0.134541     0.238359  0.538649   1.000000

La asignacion de datos no tiene que seguir ninguna regla respecto del tipo de dato. No obstante, si se agrega un dato cuyo tipo no es compatible con el resto, Pandas va a cambiar el tipo de dato de la columna al tipo que mejor generalice todos los datos de la columna.

In [15]:
correlacion.loc["aprobo","aprobo"] = "non"
correlacion

                   nota    aprobo  actualizada  teoricas  practicas
nota           1.000000       1.0     0.334423  0.792915   0.731316
aprobo      -100.000000       non     0.109911  0.139171   0.134541
actualizada    0.334423  0.109911     1.000000  0.276143   0.238359
teoricas       0.792915  0.139171     0.276143  1.000000   0.538649
practicas      0.731316  0.134541     0.238359  0.538649   1.000000

In [16]:
correlacion.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, nota to practicas
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nota         5 non-null      float64
 1   aprobo       5 non-null      object
 2   actualizada  5 non-null      float64
 3   teoricas     5 non-null      float64
 4   practicas    5 non-null      float64
dtypes: float64(4), object(1)
memory usage: 412.0+ bytes

Hay que saber, que cuando se cambia el tipo de la columna, cada elemento tambien cambia de forma implicita de tipo. Por esto es que si ahora la columna es de tipo object, al obtener la transpuesta, todos los elementos object de esa columna van a ocupar un lugar en todas las nuevas columnas. Por ende, todas las columnas van a pasar a ser de tipo object, porque no va a quedar alternativa para generalizar los datos.

In [17]:
correlacion.T

                 nota    aprobo actualizada  teoricas practicas
nota              1.0    -100.0    0.334423  0.792915  0.731316
aprobo            1.0       non    0.109911  0.139171  0.134541
actualizada  0.334423  0.109911         1.0  0.276143  0.238359
teoricas     0.792915  0.139171    0.276143       1.0  0.538649
practicas    0.731316  0.134541    0.238359  0.538649       1.0

In [18]:
correlacion.T.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, nota to practicas
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nota         5 non-null      object
 1   aprobo       5 non-null      object
 2   actualizada  5 non-null      object
 3   teoricas     5 non-null      object
 4   practicas    5 non-null      object
dtypes: object(5)
memory usage: 412.0+ bytes

Fin del parentesis

---

Del grafico observamos que la distribucion de cantidad de encuestas no es pareja entre los conjuntos de aprobados y desaprobados. 


Primero agrupamos por materia y si aprobaron, podemos contabilizar cuantas encuestas de que tipo hay para cada materia.

In [19]:
tmp = encuestas_sliced.groupby(["materia","aprobo"]).count().reset_index()
tmp

,materia,aprobo,nota,actualizada,teoricas,practicas
0,75.01,False,8,8,8,8
1,75.01,True,114,114,113,113
2,75.02,False,7,7,7,7
3,75.02,True,30,30,30,30
4,75.03,False,8,8,8,7
5,75.03,True,9,9,9,9
6,75.04,False,1,1,1,1
7,75.06,False,4,4,4,4
8,75.06,True,39,39,39,35
9,75.07,False,3,3,3,3
10,75.07,True,21,21,21,21
11,75.08,True,16,16,16,16
12,75.09,False,2,2,2,2
13,75.09,True,16,16,12,16
14,75.10,True,14,14,14,14
15,75.12,False,1,1,1,1
16,75.12,True,65,65,65,65
17,75.15,True,9,9,9,9
18,75.18,True,23,23,23,23
19,75.24,True,4,4,3,2
20,75.26,True,11,11,11,11
21,75.29,True,5,5,5,5
22,75.33,True,13,13,13,13
23,75.40,False,9,9,9,9
24,75.40,True,75,75,75,75
25,75.41,False,2,2,2,2
26,75.41,True,89,89,89,89
27,75.42,True,9,9,7,6
28,75.45,True,4,4,4,4
29,75.46,True,6,6,6,6
30,75.47,True,9,9,1,7
31,75.48,False,1,1,1,1
32,75.48,True,11,11,10,11
33,75.51,True,1,1,1,0
34,75.52,True,3,3,2,1
35,75.55 Taller de Desarrollo de Proyectos III,True,1,1,0,0
36,75.58,True,2,2,2,2
37,75.59,False,1,1,1,1
38,75.59,True,4,4,4,4
39,75.69,True,1,1,0,0
40,75.71,True,1,1,1,1
41,75.73,True,3,3,3,3
42,95.13,True,8,8,8,8
43,95.59,True,3,3,3,0

A esto ahora le puedo aplicar pivot y asi obtener una representacion donde para cada materia tenga la cantidad de aprobados y desaprobados en la misma fila. Esta representacion nos deja operar facilmnente para por ejemplo, obtener el total de encuestas

In [20]:
pivot = tmp.pivot("materia","aprobo","nota").fillna(0)
pivot.columns=["desaprobados","aprobados"]
pivot["total"] = pivot.aprobados + pivot.desaprobados
pivot

                                              desaprobados  aprobados  total
materia
75.01                                                  8.0      114.0  122.0
75.02                                                  7.0       30.0   37.0
75.03                                                  8.0        9.0   17.0
75.04                                                  1.0        0.0    1.0
75.06                                                  4.0       39.0   43.0
75.07                                                  3.0       21.0   24.0
75.08                                                  0.0       16.0   16.0
75.09                                                  2.0       16.0   18.0
75.10                                                  0.0       14.0   14.0
75.12                                                  1.0       65.0   66.0
75.15                                                  0.0        9.0    9.0
75.18                                                  0.0       23.0   23.0
75.24                                                  0.0        4.0    4.0
75.26                                                  0.0       11.0   11.0
75.29                                                  0.0        5.0    5.0
75.33                                                  0.0       13.0   13.0
75.40                                                  9.0       75.0   84.0
75.41                                                  2.0       89.0   91.0
75.42                                                  0.0        9.0    9.0
75.45                                                  0.0        4.0    4.0
75.46                                                  0.0        6.0    6.0
75.47                                                  0.0        9.0    9.0
75.48                                                  1.0       11.0   12.0
75.51                                                  0.0        1.0    1.0
75.52                                                  0.0        3.0    3.0
75.55 Taller de Desarrollo de Proyectos III            0.0        1.0    1.0
75.58                                                  0.0        2.0    2.0
75.59                                                  1.0        4.0    5.0
75.69                                                  0.0        1.0    1.0
75.71                                                  0.0        1.0    1.0
75.73                                                  0.0        3.0    3.0
95.13                                                  0.0        8.0    8.0
95.59                                                  0.0        3.0    3.0

De todas formas, en vez de primero tener que pasar por un `groupby` y despues por un `pivot`, puedo utilizar directamente `pivot_table` que existe para estos casos

In [21]:
pivot_table = encuestas_sliced.pivot_table(values="nota", index="materia", columns="aprobo", aggfunc='count', fill_value=0)
pivot_table.columns=["desaprobados","aprobados"]
pivot_table["total"] = pivot_table.aprobados + pivot_table.desaprobados
pivot_table

                                              desaprobados  aprobados  total
materia
75.01                                                    8        114    122
75.02                                                    7         30     37
75.03                                                    8          9     17
75.04                                                    1          0      1
75.06                                                    4         39     43
75.07                                                    3         21     24
75.08                                                    0         16     16
75.09                                                    2         16     18
75.10                                                    0         14     14
75.12                                                    1         65     66
75.15                                                    0          9      9
75.18                                                    0         23     23
75.24                                                    0          4      4
75.26                                                    0         11     11
75.29                                                    0          5      5
75.33                                                    0         13     13
75.40                                                    9         75     84
75.41                                                    2         89     91
75.42                                                    0          9      9
75.45                                                    0          4      4
75.46                                                    0          6      6
75.47                                                    0          9      9
75.48                                                    1         11     12
75.51                                                    0          1      1
75.52                                                    0          3      3
75.55 Taller de Desarrollo de Proyectos III              0          1      1
75.58                                                    0          2      2
75.59                                                    1          4      5
75.69                                                    0          1      1
75.71                                                    0          1      1
75.73                                                    0          3      3
95.13                                                    0          8      8
95.59                                                    0          3      3

En esta representacion puedo incluso ordenar las materias por mayor cantidad de respuestas de aprobados

In [22]:
pivot_table.sort_values(["aprobados","desaprobados","total"],ascending=False)

                                              desaprobados  aprobados  total
materia
75.01                                                    8        114    122
75.41                                                    2         89     91
75.40                                                    9         75     84
75.12                                                    1         65     66
75.06                                                    4         39     43
75.02                                                    7         30     37
75.18                                                    0         23     23
75.07                                                    3         21     24
75.09                                                    2         16     18
75.08                                                    0         16     16
75.10                                                    0         14     14
75.33                                                    0         13     13
75.48                                                    1         11     12
75.26                                                    0         11     11
75.03                                                    8          9     17
75.15                                                    0          9      9
75.42                                                    0          9      9
75.47                                                    0          9      9
95.13                                                    0          8      8
75.46                                                    0          6      6
75.29                                                    0          5      5
75.59                                                    1          4      5
75.24                                                    0          4      4
75.45                                                    0          4      4
75.52                                                    0          3      3
75.73                                                    0          3      3
95.59                                                    0          3      3
75.58                                                    0          2      2
75.51                                                    0          1      1
75.55 Taller de Desarrollo de Proyectos III              0          1      1
75.69                                                    0          1      1
75.71                                                    0          1      1
75.04                                                    1          0      1

O calcular el porcentaje de respuestas que pertenecen a alumnos desaprobados

In [23]:
pivot_table["porcentual"] = pivot_table.desaprobados / pivot_table.total
pivot_table.describe()

       desaprobados   aprobados       total  porcentual
count     33.000000   33.000000   33.000000   33.000000
mean       1.424242   18.757576   20.181818    0.075215
std        2.669624   27.498898   29.271845    0.191264
min        0.000000    0.000000    1.000000    0.000000
25%        0.000000    3.000000    3.000000    0.000000
50%        0.000000    9.000000    9.000000    0.000000
75%        1.000000   16.000000   18.000000    0.083333
max        9.000000  114.000000  122.000000    1.000000

Esto nos da una idea de como se comportan las encuestas, porque podemos ver que al menos la mitad de las materias no cuentan con ninguna clase de respuesta de gente desaprobada.

Sobre el DataFrame original, puedo ver tambien como se distribuyen las notas por cada materia. Podemos buscar aquellas encuestas que son outliers, es decir, son valores 'raros'. 

Si suponemos que todo el mundo pone casi la misma nota para la materia (porque consideramos que se puede calificar de una forma estandarizada y objetiva), todos deberian poner notas cercanas al promedio. Aquellos que esten lejos del promedio serian los 'outliers', que por ej podrian ser encuestas inventadas o gente poco sincera.

Necesitamos para eso tener para cada encuesta, cuanto es el promedio de la materia a la que esta contestando. Para este tipo de situaciones existe el transform, que nos genera los datos listos para integrar en nuestro DataFrame original.

In [24]:
encuestas_sliced["promedio"] = encuestas_sliced.groupby("materia").transform("mean")["nota"]
encuestas_sliced["std_d"] = encuestas_sliced.groupby("materia").transform("std")["nota"]
encuestas_sliced

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,materia,nota,aprobo,actualizada,teoricas,practicas,promedio,std_d
0,75.01,5,True,True,5.0,3.0,4.131148,0.890267
1,75.01,5,True,True,5.0,5.0,4.131148,0.890267
2,75.01,4,True,True,4.0,4.0,4.131148,0.890267
3,75.01,4,True,True,4.0,5.0,4.131148,0.890267
4,75.01,4,True,True,3.0,4.0,4.131148,0.890267
...,...,...,...,...,...,...,...,...
661,95.13,3,True,True,2.0,2.0,2.875000,0.834523
662,95.13,2,True,True,3.0,1.0,2.875000,0.834523
663,95.59,1,True,False,1.0,NaN,1.666667,1.154701
664,95.59,3,True,True,2.0,NaN,1.666667,1.154701
665,95.59,1,True,False,1.0,NaN,1.666667,1.154701

Notar que pandas se queja de que no uso `loc`. Si estoy trabajando sobre una copia de un DataFrame, los valores que cambie no van a actualizarse en el original (obviamente). El warning tiene dos objetivos

- Avisarnos que los datos no se van a modificar en el original en caso que busquemos hacer eso
- Avisarnos que si hicieramos estas cosas sobre el DataFrame original seria mas eficiente (fijense que seguimos teniendo en memoria el original, hacer una copia para agregarle cosas es claramente menos eficiente que agregarselas al original y operar directamente sobre ese)



Ahora con lo que obtuvimos de las transformaciones anteriores, puedo calcular operando con las columnas, si una encuesta es un outlier o no

In [25]:
encuestas_sliced["outlier"] = (encuestas_sliced.nota - encuestas_sliced.promedio).abs() > (encuestas_sliced.std_d * 2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [26]:
encuestas_sliced[encuestas_sliced.outlier]

,materia,nota,aprobo,actualizada,teoricas,practicas,promedio,std_d,outlier
24,75.01,2,True,True,2.0,2.0,4.131148,0.890267,True
72,75.01,1,True,True,1.0,2.0,4.131148,0.890267,True
73,75.01,2,True,True,2.0,NaN,4.131148,0.890267,True
76,75.01,1,True,True,2.0,1.0,4.131148,0.890267,True
117,75.01,1,False,False,2.0,2.0,4.131148,0.890267,True
118,75.01,1,True,False,1.0,2.0,4.131148,0.890267,True
125,75.02,1,False,False,2.0,2.0,3.864865,1.182327,True
126,75.02,1,False,True,2.0,3.0,3.864865,1.182327,True
232,75.07,5,True,True,5.0,4.0,2.291667,1.334465,True
240,75.07,5,True,True,4.0,5.0,2.291667,1.334465,True
258,75.08,3,True,True,2.0,2.0,4.187500,0.543906,True
268,75.09,4,True,True,3.0,5.0,1.666667,0.970143,True
372,75.18,3,True,True,3.0,3.0,4.173913,0.491026,True
419,75.33,3,True,True,4.0,2.0,4.461538,0.660225,True
428,75.40,2,True,True,2.0,2.0,4.416667,0.838937,True
429,75.40,2,True,True,2.0,2.0,4.416667,0.838937,True
497,75.40,2,True,True,2.0,3.0,4.416667,0.838937,True
561,75.41,2,True,True,3.0,1.0,4.285714,0.749603,True
564,75.41,2,False,True,5.0,2.0,4.285714,0.749603,True

---

Hay que tener siempre en mente que Pandas las cosas por defecto que nos da, por algo lo hace. El describe, nos da ademas del promedio la desviacion estandar, que bien si no aportase nada extra a los demas campos lo podria omitir y consumir menos tiempo. En este caso vemos en el ejemplo como la desviacion estandar nos ayuda a entender como se distribuyen los datos respecto del promedio, lo que nos da una idea de que tan `homogeneas` son las encuestas

In [27]:
df = pd.DataFrame([
    [5,5,5,5,1,1,1,1],
    [4,4,2,2,2,2,4,4],
    [3,3,3,3,3,3,3,3]
])

df.T.describe()

             0         1    2
count  8.00000  8.000000  8.0
mean   3.00000  3.000000  3.0
std    2.13809  1.069045  0.0
min    1.00000  2.000000  3.0
25%    1.00000  2.000000  3.0
50%    3.00000  3.000000  3.0
75%    5.00000  4.000000  3.0
max    5.00000  4.000000  3.0

---
Podemos aprovechar el calculo anterior de outliers y ver con `%timeit` si es mas eficiente (en tiempo) operar sobre columnas directamente o utilizando`apply`

In [28]:
def f (x):
    return abs(x.nota - x.promedio) <= (x.std_d * 2) 

%timeit encuestas_sliced.apply(f,axis=1)

37 ms ± 12 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [29]:
%timeit (encuestas_sliced.nota - encuestas_sliced.promedio).abs() <= (encuestas_sliced.std_d * 2)

1.17 ms ± 90.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)